.cfg
bin/.local/bin
.config/nvim/plugin/packer_compiled.lua
config/nvim/plugin/packer_compiled.lua
**/bookmarks/**
.git
/node_modules
.env.local
.env.development.local
.env.test.local
.env.production.local
